#Bookingsite {
    position: relative;
    top: 15px;
    left: 50px;
    margin-top: 20mm ;
    width: 500px;
    height: 600px;
    float: left;
    background-color: bisque;
    }


    #progress{
        position: relative;
       top: 8px;
        left: 30px;
       color:red;
        white-space: nowrap;
        width: 300px;
        font-size: 20px;
       }
